#plantillas{
    display:none;    
}

.transmisor_video #lbl_nombre_usuario,
.receptor_video #lbl_nombre_usuario{
    position: absolute;
    top: 5px;
    left: 5px;
    color: green;
    font-weight: bold;
    font-size: 20px;
}

.transmisor_video #lbl_nombre_usuario{
    position: absolute;
    top: 5px;
    left: 5px;
    color: yellow;
    font-weight: bold;
    font-size: 20px;
}

.transmisor_video,
.receptor_video{
    position:relative;
    display:inline-block;
    vertical-align: top;
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    border: 1px black solid;
    height: 240px;  
    width: 320px;
}

.receptor_video img,
.transmisor_video video{
    -moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
    height: 240px;
    width: 320px;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}